<style>
  body {
    background: <%= @color %>;
  }
</style>


<h1>About Me</h1>
<p>I'm a cool kid with lots of interesting things to say</p>

<p>My favorite color is <%= @color %></p>

<p>My shoe size is <%= @size %></p>
<% if @size > 12 %>
	My feet are <big>HUGE</big></p>
<% end %>

<p>
	<%= link_to "Red", about_path(color: "red", size: 12), class: "btn btn-danger" %>
</p>

<p>
	<%= link_to "Yellow", about_path(color: "yellow", size: 8), class: "btn btn-warning" %>
</p>

<p>
	<%= link_to "Green", about_path(color: "green", size: 14), class: "btn btn-success" %>
</p>